numpy
networkx
scipy
tensorflow < 2.0.0
gensim
scikit-learn
tqdm
bionev @ git+https://github.com/seffnet/BioNEV.git
optuna
pybel
defusedxml
joblib
gunicorn
flask
flask-bootstrap
flask-wtf
flasgger
click
